*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, rgb(250, 224, 219),rgb(247, 148, 128));
    transition: 0.8s ease-in;
}
.Main{
    transition: 0.3s ease-in-out;
}
.slide{
    width: 200px;
    height: 109vh;
    background-color: rgb(255, 240, 236);
    position: absolute;
    transition: 0.5s ease;
    transform: translateX(-200px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: fixed; 
}
.block{
    display: inline-flex;
    font-family: Verdana;
    font-size: 14px;
    color: navy;
    padding: 10px;
    text-align: center;
} 
ul li a{
    display: block;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: Tahoma;
    font-size: 14px;
    text-decoration: none;
    color: maroon;
    padding-left: 46px;
}
ul li a:hover{
    background-color: rgb(255, 166, 147);
    color: black;
}
/* @media */
.nav{
    float: right;
    top: 10px;
    margin-right: 20px;
    position: sticky;
    top: 0;
}
.nav ul li{
    display: inline-block;
    margin-left: 25px;
}
.nav ul li a{
    font-family: Tahoma;
    font-weight: 600;
    font-size: 18px;
    color: white;
}
.nav ul li a:hover{
    background-color: transparent;
    color: maroon;
    transition: 0.5s;
}

/* end */
label input{
    display: none;
    visibility: hidden;
    position: fixed;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 5px;
    left: 5px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 187px;
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: maroon;
    border-radius: 50px;
    transition: 0.5s ease;
}
.toggle .top{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .bottom{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middle{
    opacity: 0;
    transform: translateX(20px);
}
input:checked ~ .slide{
    transform: translateX(0);
}
body{
    overflow-y: scroll;
}
.Logo{
    width: auto;
    height: 100px;
}
.Logo img{
    width: 600px;
    height: 140px;
}
/* .Image img{
    width: 100%;
    max-height: 888px;
} */
.container{
    width: 100%;
    min-height: 500px;
    font-family: Arial;
    font-size: 25px;
    font-weight: 500;
    color: rgb(233, 233, 233);
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(School-block.JPG);
    background-size: cover;
    background-position: center;
    letter-spacing: 2px;
}
.container h1{
    padding-top: 200px;
}
hr{
    width: 1400px;
    height: 5px;
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: maroon;
}
.content h2{
    color: rgb(48, 1, 1);
   font-family: Arial;
   font-size: 50px; 
   font-weight: 600;
   padding-left: 93px;
}
.content p{
    font-family: Verdana;
    font-size: 15px;
    line-height: 42px;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
}
i{
    color: maroon;
}
.blocks{
    display: flex;
    width: 100%;
    align-items: center;
    /* box-sizing: border-box; */
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}
.section h2{
    font-family: Arial;
    font-size: 50px; 
    font-weight: 600;
    padding-left: 93px;

}
.motto{
    background-color: red;
    color: rgb(228, 228, 228);
    width: 30%;
    height: 300px;
    padding-top: 130px;
    padding-left: 20px;
    border-radius: 50px;
    font-family: Tahoma;
    box-shadow:  0 0 8px rgba(0, 0, 0, 5);
}
.mission{
    background-color: blue;
    color: rgb(228, 228, 228);
    width: 30%;
    height: 300px;
    padding-top: 120px;
    margin-left: 20px;
    border-radius: 50px;
    font-family: Tahoma;
    box-shadow:  0 0 8px rgba(0, 0, 0, 5);
}
.vision{
    background-color: green;
    color: rgb(228, 228, 228);
    width: 30%;
    height: 300px;
    padding-top: 130px;
    margin-left: 20px;
    border-radius: 50px;
    font-family: Tahoma;
    box-shadow:  0 0 8px rgba(0, 0, 0, 5);
}
.container2 {
    width: 100%;
    min-height: 500px;
    color: rgb(233, 233, 233);
    text-align: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(80, 1, 1, 0.5)50%, rgba(80, 1, 1, 0.5)50%),url(pupils.JPG);
    background-size: cover;
    background-position: center;
    padding: 30px;
}
.container2 h1{
    font-family: Arial;
    font-size: 80px;
    font-weight: 500;
    color: rgb(233, 233, 233);
}
.container2 p{
    font-family: Verdana;
    font-size: 15px;
    line-height: 42px;
    justify-content: center;
    padding-top: 90px;
    padding-inline: 50px;
}
.container2 a{
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 100;
    text-decoration: none;
    background-color: rgb(255, 245, 243);
    color: rgb(0, 81, 255);
    padding: 23px;
    border-radius: 50px;
    box-shadow:  0 0 8px rgba(0, 0, 0, 5);
}
.showcase{
    background-color: #e0e0e0;
    text-align: center;
    box-shadow:  0 0 14px rgba(0, 0, 0, 0.8);
}
.showcase h1{
    font-family: Arial;
    font-size: 60px;
    font-weight: 500;
    margin: 30px;
    padding: 15px;   
}
.showcase img{
    width: 500px;
    height: 300px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 50%;
    box-shadow:  0 0 14px rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in-out;
}
.showcase p{
    font-family: Verdana;
    font-size: 15px;
    line-height: 37px;
} 
.project-statistics{
    display: flex;
    font-family: Verdana;
    background:linear-gradient(to bottom, rgb(255, 255, 255), rgb(148, 148, 148));
    color: rgb(80, 80, 80);
    padding: 30px;
    text-align: center;
    justify-content: center;
    gap: 100px;
} 
.w3-xlarge{
    font-size: 60px;
    padding-top: 40%;
}
.container3{
    width: 100%;
    min-height: 500px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    background-color: #e0e0e0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%),url(excellent\ play\ ground.JPG);
    background-position: center;
    background-size: cover;
}
.container3 h2{
    font-family: Arial;
    font-size: 60px;
    font-weight: 500;
    padding-top: 200px;
}
.Contacts{
    background-color: rgb(250, 224, 219);
}
.Contacts h1{
    font-family: Verdana;
    font-size: 68px;
    padding: 30px;
    background: linear-gradient(to top, rgb(250, 224, 219),rgb(247, 148, 128));
    text-align: center;
}
.Contacts input{
    visibility: visible;
}
.info{
    padding-top: 50px;
    margin-left: 40%;
} 
/* inserted */

form{
    border: 1px solid grey;
    border-radius: 20px;
    background-color: transparent;
    /* backdrop-filter: blur(7px); */
    margin-inline: 600px;
    padding-top: 60px;
    padding-bottom: 60px
}
form{
    text-align: center; 
    justify-content: center;
}
form input{
    width: 300px;
    height: 36px;
    margin-bottom: 30px;
}
.bn{
    width: 100px;
    height: 30px;
    color: white;
    background-color: blue;
    border-radius: 6px;
    margin-top: 10px;
    margin-right: 200px;
}
.bn:active{
    background-color: red;
    color: #fff;
}
/* end */
.Label{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%),url(face.JPG);
    background-position: center;
    background-size: cover;
    color: #fff;
}
.Googlemap{
    margin: auto;
    background-color: rgb(97, 97, 97);
}
iframe{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-inline: auto;
    padding-inline: 1%;
    width: 100%;
}
.slide a svg{
    height: 20px;
    width: 20px;
    margin-right: 3px;
    margin-bottom: 0;
}
.info svg{
    width: 36px;
    height: auto;
    margin-right: 7px;
    color: #fff;
}
.info p{
    font-family: Arial;
    font-size: 18px;
    color: rgb(219, 219, 219);
}
.Googlemap svg{
    width: 24px;
    height: auto;
    margin-left: 30px;
}
.wrapper{
    text-align: center;
    padding-bottom: 5%;
}
.wrapper p{
    font-family: Arial;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
}
footer{
    background: linear-gradient(to bottom, rgb(250, 224, 219),rgb(243, 60, 24));
    color: rgb(2, 2, 95);
    font-family: Arial;
    font-size: 18px;
    padding: 45px;
    text-align: center;
    justify-content: center;
}
/* Responsive  Design */ 
@media(width <= 300px){
    .header{
        content-align: center;
    }
    body{
        content-align: center;
    }
}
@media only screen and (max-width: 600px){
    .slide{
        width: 160px;
    }    
    .project-statistics{
        display: block;
    }
    .slide ul li a{
        padding-top: 10px;
        padding-bottom: 2px;
    }
    hr{
        width: 450px;
       height: 3px; 
       margin-left: 20px;
    }
    .showcase img{
        width: 350px;
        height: 300px;
    }
    .blocks div{
        display: block;
    }
    .content h2{
        font-size: 32px;
        padding-left: 70px;
    }
    .content p{
        font-size: 14px;
        line-height: 30px;
        padding-inline: 20px;
        margin: 0;   
    }
    .section h2{
        font-size: 32px;
        padding-left: 70px;
    }
    .container2 p, a{
        font-size: 14px;
        line-height: 30px;
        padding-inline: 20px;
    }
    .showcase p{
        font-size: 14px;
        line-height: 30px;
        padding-inline: 20px;
    }
    .Contacts h1{
        font-size: 32px;
    }
    .Logo img{
        width: 450px;
        height: 100px;
    }
    .header{
        width: 100%;
        height: 102px;
        position: fixed;
        box-shadow:  0 0 14px rgba(0, 0, 0, 0.8);;
    }
    footer{
        font-size: 12px;   
    }
    .nav{
        display: none;
        visibility: hidden;
    }
    .blocks{
        flex-direction: column;
    }
    .motto, .vision, .mission{
        width: 90%;
        height: auto;
        padding: 100px;
        margin-top: 10px;
        transition: 0.3s ease-in;
    }
    .vision, .mission{
        margin-left: 0;
    }
    .container2 a{
        font-size: 15px;
        padding: 14px;
        padding-inline: 23px;
    }
    .info{
        padding-top: 130px;
    }
    form{
        border: 1px solid grey;
        border-radius: 20px;
        background-color: transparent;
        margin-inline: 50px;
        padding-top: 50px;
        max-width: 400px; 
    }
    form input{
        max-width: 270px;
    }
    iframe{
        height: 600px;
    }
    .info{
        margin-left: 20%;
    } 
      
}
@media(width >=1020px){
    label{
        visibility: hidden;
    }
    .nav{
        visibility: visible;
    }
    .container2 a{
        background-color: transparent;
        color: white;
        border: 1px solid white;
    }
    .container2 a:hover{
        background-color: white;
        color: navy;
        transition: 0.4s;
    }
    form input{
        max-width: 500px;
    }
    form{
        min-width: 500px;
        height: auto;
        justify-self: center;
    }
    iframe{
        min-height: 800px;
    } 
}  
@media(width <= 1020px){
    /* label{
        visibility: visible;
    } */
    .nav{
        display: none;
    }
    form{
        min-width: 400px;
        height: auto;
        justify-self: center; 
    }
}  
